.results-item {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  justify-content: space-between;
  gap: 20px;

  &__link {
    color: black;
    text-decoration: none;
  }

  &__link:hover {
    color: rgb(255, 81, 0);
  }
}
