.results-item {
  --results-item-border-color: var(--g-results-item-border-color);
  --results-item-link-color: var(--g-results-item-link-color);
  --results-item-link-hover-color: var(--g-results-item-link-hover-color);
}

.results-item {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--results-item-border-color);
  justify-content: space-between;
  gap: 20px;

  &__link {
    color: var(--results-item-link-color);
    text-decoration: none;
  }

  &__link:hover {
    color: var(--results-item-link-hover-color);
  }
}
