.search {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  min-height: 100%;

  &__search-header {
    grid-column: 1 / -1;
  }

  &_has-details {
    grid-template-columns: 500px auto;
  }
}
