.download-dialog {
  --download-dialog-bg-color: var(--g-download-dialog-bg-color);
  --download-dialog-border-color: var(--g-download-dialog-border-color);
}

.download-dialog {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--download-dialog-bg-color);
  border: 1px solid var(--download-dialog-border-color);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  transform: translateX(-200%);
  transition-duration: 0.5s;

  &_active {
    user-select: auto;
    transform: translateX(0);
  }

  &__message {
    margin: 0;
  }

  &__buttons-wrap {
    display: flex;
    gap: 20px;
  }
}
