.search-results {
  --search-results-border-color: var(--g-search-results-border-color);
  --search-results-loader-color: var(--g-search-results-loader-color);
}

.search-results {
  padding: 20px;
  border: 1px solid var(--search-results-border-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &__pagination-wrap {
    flex: none;
    align-self: center;
  }

  &__content {
    min-height: 300px;
    color: var(--search-results-loader-color);
  }

  &__loader {
    width: 100%;
    height: 100%;
    font-size: 1rem;
  }
}
