@use './../../../scss/abstracts/mixins';

.pagination {
  --btn-color: #fff;
  --btn-bg-color: #0d6efd;
  --btn-border-color: #0d6efd;

  --btn-hover-bg-color: #0b5ed7;
  --btn-hover-border-color: #0a58ca;

  --btn-active-bg-color: #0a58ca;
  --btn-active-border-color: #0a53be;
  --btn-focus-box-shadow: 0 0 0 0.25rem rgb(49, 132, 253);

  --btn-disabled-bg-color: #6c757d;
  --btn-disabled-border-color: #6c757d;

  --btn-selected-bg-color: #000000;
  --btn-selected-border-color: #000000;
}

.pagination {
  @include mixins.list;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;

  &__btn,
  &__placeholder {
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: var(--btn-color);
    border-radius: 5px;
    border: 1px solid var(--btn-border-color);
    background-color: var(--btn-bg-color);
    display: flex;
  }

  &__btn {
    &:hover {
      background-color: var(--btn-hover-bg-color);
      border-color: var(--btn-hover-border-color);
    }

    &:focus-visible {
      background-color: var(--btn-hover-bg-color);
      border-color: var(--btn-hover-border-color);
      box-shadow: var(--btn-focus-box-shadow);
    }

    &:active {
      background-color: var(--btn-active-bg-color);
      border-color: var(--btn-active-border-color);
    }

    &.pagination__btn_selected {
      background-color: var(--btn-selected-bg-color);
      border-color: var(--btn-selected-border-color);
    }

    &.pagination__btn_disabled {
      background-color: var(--btn-disabled-bg-color);
      border-color: var(--btn-disabled-border-color);
    }
  }
}
