@use './../../../scss/abstracts/mixins';

.pagination {
  --pagination-btn-color: var(--g-pagination-btn-color);
  --pagination-btn-bg-color: var(--g-pagination-btn-bg-color);
  --pagination-btn-border-color: var(--g-pagination-btn-border-color);
  --pagination-btn-hover-bg-color: var(--g-pagination-btn-hover-bg-color);
  --pagination-btn-hover-border-color: var(--g-pagination-btn-hover-border-color);
  --pagination-btn-active-bg-color: var(--g-pagination-btn-active-bg-color);
  --pagination-btn-active-border-color: var(--g-pagination-btn-active-border-color);
  --pagination-btn-focus-box-shadow: var(--g-pagination-btn-focus-box-shadow);
  --pagination-btn-disabled-bg-color: var(--g-pagination-btn-disabled-bg-color);
  --pagination-btn-disabled-border-color: var(--g-pagination-btn-disabled-border-color);
  --pagination-btn-selected-bg-color: var(--g-pagination-btn-selected-bg-color);
  --pagination-btn-selected-border-color: var(--g-pagination-btn-selected-border-color);
}

.pagination {
  @include mixins.list;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;

  &__btn,
  &__placeholder {
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: var(--pagination-btn-color);
    border-radius: 5px;
    border: 1px solid var(--pagination-btn-border-color);
    background-color: var(--pagination-btn-bg-color);
    display: flex;
  }

  &__btn {
    &:hover {
      background-color: var(--pagination-btn-hover-bg-color);
      border-color: var(--pagination-btn-hover-border-color);
    }

    &:focus-visible {
      background-color: var(--pagination-btn-hover-bg-color);
      border-color: var(--pagination-btn-hover-border-color);
      box-shadow: 0 0 0 0.25rem var(--pagination-btn-focus-box-shadow);
    }

    &:active {
      background-color: var(--pagination-btn-active-bg-color);
      border-color: var(--pagination-btn-active-border-color);
    }

    &.pagination__btn_selected {
      background-color: var(--pagination-btn-selected-bg-color);
      border-color: var(--pagination-btn-selected-border-color);
    }

    &.pagination__btn_disabled {
      background-color: var(--pagination-btn-disabled-bg-color);
      border-color: var(--pagination-btn-disabled-border-color);
    }
  }
}
